/*
 * Page sizing, sticky footer
 */

html,
body {
	height: 100%;
}

.footer,
.push {
	/* subtract border width from height, hence 39 not 40 */
	height: 39px;
}

/* Give the page some height */
.push {
	margin-top: 100px;
}

.main {
	width: 100%;
	display: block;
	min-height: 100%;
	margin: 0 auto -40px;
}

/*
 * Logo
 */

.google-logo-container {
	margin: 150px auto 0px auto;
    width: 300px;
    height: 93px;
}

.country-container {
    margin-left: 230px;
    margin-top: -15px;
}

.country-container p {
    font: 16px roboto-regular, arial, sans-serif;
    color: #4285f4;
}

.google-logo {
	width: 272px;
	height: 92px;
	margin: auto;
	display: block;
}

/*
 * Search box
 */

.search-area {
	width: 550px;
	margin: 35px auto;
	box-shadow: 0 2px 2px #c5c5c5;
	border: 1px solid #eee;
	border-radius: 1px;
}

.search-area:hover {
	box-shadow: 0 2px 4px #b5b5b5;
}

.search-text-box {
	display: inline-block;
	width: 87%;
	margin: 4px 0px 4px 16px;
}

.search-text-box input {
	font: 16px arial,sans-serif;
	border: 0;
	line-height: 36px;
	cursor: text;
}

.search-text-box input:focus {
	outline: none;
	width: 100%;
}

.search-voice {
	position: relative;
	display: inline;
	bottom: -6px;
}

.search-voice img {
	height: 24px;
}

/*
 * Search buttons
 */

.button-area {
	margin: 0 auto;
	width: 284px;
}

.search-button {
    height: 36px;
    width: 130px;
    background-color: #f5f5f5;
    color: #757575;
    border: none;
	border-radius: 2px;
    font: bold 13px arial, sans-serif;
    margin: 0 5px;
}

.search-button:hover {
    border: 1px solid #c6c6c6;
	box-shadow: 0 0px 1px #b5b5b5;
    color: black;
}

.search-button:focus {
    outline-width: 0;
    border: 1px solid #4d90fe;
    color: black;
}

/*
 * Header & Footer styling
 */

.navbar {
	height: 50px;
}

.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.bar {
	padding-left: 5px;
	padding-right: 5px;
}

.left {
	float: left;
}

.right {
	float:right;
}

.bottom {
	padding-top: 10px;
}

.top {
	padding-top: 20px;
}

.bar-list {
	display: inline;
	padding: 5px;
	text-decoration: none;
}

.top .bar-list {
	position: relative;
	top: -35px;
}

#apps-list {
	top: 0;
}

.link {
	text-decoration: none;
}

.text-link {
	font: 13px arial, sans-serif;
	color: #555;
}

.text-link:hover {
	text-decoration: underline;
}

#signin {
	font: bold 13px arial, sans-serif;
	color: white;
	background-color: #4285f4;
	border-radius: 2px;
	padding: 8px 14px;
}

#apps {
	background: transparent url('../images/apps_normal.png') center top no-repeat;
	width: 50px;
	height: 20px;
	padding-top: 30px;
	display: inline-block;
}

#apps:hover {
	background: transparent url('../images/apps_hover.png') center top no-repeat;
}
